In [ ]:
#1
a=[3, 6, 9, 12, 15, 18, 21]      
s=[4, 8, 12, 16, 20, 24, 28]
d=[]
f=[]
z=[]
print('Element at odd-index positions from list one',)
for i in range (1,len(a),2):
  d.append(a[i])
print(d)
print('Element at even-index positions from list two')
for j in range (0,len(s),2):
  f.append(s[j])
print(f)
print('Printing Final third list')
z.extend(d)
z.extend(f)
print(z)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [ ]:
#2
a=input('enter a number : ')
print('total digit in number is ',len(a))

enter a number : 3456
total digit in number is  4

In [ ]:
#3
a=[3, 6, 9, 12, 15, 18, 21] 
b=[]
for i in a:
  if i%2!=0:
    b.append(i)
print(b)

[3, 9, 15, 21]

In [ ]:
#4
a=[]
b=[]
for i in range (1,31):
  a.append(i**2)
print(a)
b.extend(a[0:5])
b.extend(a[25:30])
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [ ]:
#5

In [ ]:
#6
a=[1,2,3]
b=[2,3,1]
for i in range (len(a)):
  c=a.pop()
  a.insert(0,c)
  if (a==b):
    print ("yes, circulary identical")
    break
if (a!=b):
  print ('not circularly identical')

yes, circulary identical

In [ ]:
#7
a=[0,1,2,3,4,5]
b=[]
for i in range (0,len(a),2):
  c=a[i]
  a.pop(i)
  a.insert(i+1,c)
print (a)

[1, 0, 3, 2, 5, 4]

In [ ]:
#7
a=[0,1,2,3,4,5]
for i in range(0,len(a),2):
  a[i],a[i+1]=a[i+1],a[i]
print(a)

[1, 0, 3, 2, 5, 4]

In [ ]:
#8
a=[1,2,3,4,5,6]
b=['A','B','C','D','E','F']
i=0
while i<len(a):
  print(a[i],b[i])
  i+=1

1 A
2 B
3 C
4 D
5 E
6 F

In [ ]:
#9
b=[]
l=[1,2,3,4,5,6,7,8,9]
for i in  l:
  for j in (l[i:]):
    a=[]
    if i==j:
      continue
    a.append(i)
    a.append(j)
    b.append(a)
print(b)

[[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [1, 9], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [3, 9], [4, 5], [4, 6], [4, 7], [4, 8], [4, 9], [5, 6], [5, 7], [5, 8], [5, 9], [6, 7], [6, 8], [6, 9], [7, 8], [7, 9], [8, 9]]

In [ ]:
#10
a=[[10, 20], [40], [30, 56, 25], [10, 20], [33],[40]]
c=[]
for i in a:
  while i not in c:
    c.append(i)
print (c)

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
"""Write a Python program to remove the characters which have odd index values of a given string"""

'Write a Python program to remove the characters which have odd index values of a given string'

In [ ]:
a='python'
for i in range (len(a)):
  if i%2==0:
    print(a[i],end='')

pto

In [ ]:
Write a Python program to find the first appearance of the substring 'not' and 'poor' from a given string, if 'not' follows the 'poor', 
replace the whole 'not'...'poor' substring with 'good'. Return the resulting string.



Sample String : 'The lyrics is not that poor!'
'The lyrics is poor!'
Expected Result : 'The lyrics is good!'
'The lyrics is poor!'

In [ ]:
a='The lyrics is not poor!The lyrics is poor!'
a.replace('not poor','good')

'The lyrics is good!The lyrics is poor!'

In [ ]:
Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. 
If the string length of the given string is less than 3, leave it unchanged.


Sample String : 'abc'
Expected Result : 'abcing'
Sample String : 'string'
Expected Result : 'stringly'

In [ ]:
Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return
 instead of the empty string. 

Sample String : 'w3resource'
Expected Result : 'w3ce'
Sample String : 'w3'
Expected Result : 'w3w3'
Sample String : ' w'
Expected Result : Empty String

In [ ]:
Write a Python program to count the number of characters (character frequency) in a string. 

Sample String : google.com'
Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

file.txt
txt

Write a Python program find a list of integers with exactly two occurrences of nineteen and at least three occurrences of five.

In [ ]:
a=[19,19,5,5,5,5,5]
print(a.count(19)==2 and a.count(5)>=3)

True

2. Write a Python program that accept a list of integers and check the length and the fifth element. 
Return true if the length of the list is 8 and fifth element occurs thrice in the said list.

In [ ]:
a=input('enter a list :')
s=a.split(',')
print('length of list :',len(s),'and fifth element is ',s[4])
if len(s)==8 and s.count(s[4])==3:
  print('true')

enter a list :1,2,1,3,1,3,4,4
length of list : 8 and fifth element is  1
true

3.  Write a Python program to split a string of words separated by commas and spaces into two lists, words and separators.

In [ ]:
a='The dance, held in the school gym, ended at midnight.'
b=a.split(',')
c=""
for i in range (len(b)):
  c+=b[i]
d=c.split()
q=[]
for i in a:
  if i==' ' or i==",":
    q.append(i)
w=[]
w.append(d)
w.append(q)
print(w)

[['The', 'dance', 'held', 'in', 'the', 'school', 'gym', 'ended', 'at', 'midnight.'], [' ', ',', ' ', ' ', ' ', ' ', ' ', ',', ' ', ' ', ' ']]

4. Write a Python program to find missing numbers from a list. Input : [1,2,3,4,6,7,10]
Output : [5, 8, 9]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
s=[1,2,3,4,6,7,10]
d=[]
for i in a:
  if i not in s:
    d.append(i)
print(d)

[5, 8, 9]

5. Write a Python program to push all zeros to the end of a list. Input : [0,2,3,4,6,7,10]
Output : [2, 3, 4, 6, 7, 10, 0]

In [ ]:
a=[0,2,3,4,6,7,10]
for i in a:
  if i==0:
    a.remove(i)
    a.append(i)
print(a)

[2, 3, 4, 6, 7, 10, 0]

1,2,3,4,5

['1,2,3,4,5']

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded_file=files.upload()

Saving bookdata.csv to bookdata.csv

In [ ]:
import io
df=pd.read_csv(io.BytesIO(uploaded_file['bookdata.csv']))

In [ ]:
df

                     name     contact  salary
0         KUNAL CHAUDHARI  9082961701   12000
1   MAHESH BHAGIRATH KALE  9082961073   14000
2         SWAMISH S. NAIK  9819445492   20000
3        ASHUTOSH VISPUTE  7738816022   50000
4      SAURABH S. AGRAWAL  9673956628   60000
5      SWAPNIL P. GAONKAR  9022695479   45000
6       GAURI C. KULKARNI  9158092333   23004
7       SHRADDHA R. VARMA  8286509472   56900
8              JAY GOKHRU  9757434340   78900
9          ARIHANTI GAWDE  8879698018   78653
10        VIJAYA NARVEKAR  7709114852   49990
11        PANKAJ R. YADAV  8356931110   23000