In [ ]:
#write a program find a list of integer with exactly two occurance of nineteen and atleast three occurance of five

In [ ]:
a=[19,5,5,5,19,5]
print(a.count(19)==2 and a.count(5)>=3)

True

In [ ]:
2.write a python program that accept a list of integer and check the length and fifth element.return true if the length of the list is 8 and fifth element occure thrice in the said list.

In [ ]:
a=input('enter a list:')
s=a.split(',')
print('length of list :',len(s),'and fifth element is ',s[4])
if len(s)==8 and s.count(s[4])==3:
  print('true')

enter a list:1,2,1,3,1,3,4,4
length of list : 8 and fifth element is  1
true

In [ ]:
3.write a python program to split a string of words separated by commas and space into two list,words and separators.

In [ ]:
a='the dance held in the school gym, ended at midnight.'
b=a.split(',')
c=""
for i in range (len(b)):
  c+=b[i]
d=c.split()
q=[]
for i in a:
  if i=='' or i=='':
    q.append(i)
w=[]
w.append(d)
w.append(q)
print(w)

[['the', 'dance', 'held', 'in', 'the', 'school', 'gym', 'ended', 'at', 'midnight.'], []]

In [ ]:
4.write a python program to find missing numbers form a list
input:[1,2,3,4,6,7,10]
output:[5,8,9]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
s=[1,2,3,4,6,7,10]
d=[]
for i in a:
  if i not in s:
    d.append(i)
print(d)

[5, 8, 9]

In [ ]:
write a python program to push all zeroes to the end of a list.
input:[0,2,3,4,6,7,10]
output:[2,3,4,6,7,10,0]

In [ ]:
a=[0,2,3,4,6,7,10,0,1,0]
for i in a:
  if i==0:
    a.remove(i)
    a.append(i)
print(a)

[2, 3, 4, 6, 7, 10, 1, 0, 0, 0]

[]